doctype html
html(lang='en')
	head
		meta(charset='utf-8')
		title 960 Grid System - Demo
		link(rel='stylesheet' type='text/css' href='all.min.css')
	
	body
		h1
			a(href='http://960.cs/') 960 Grid System

		.container
			h2 12 Column Grid

			.grid_12
				p 940
			.clear

			.grid_1
				p 60
			.grid_11
				p 860
			.clear

			.grid_2
				p 140
			.grid_10
				p 780
			.clear

			.grid_3
				p 220
			.grid_9
				p 700
			.clear

			.grid_4
				p 300
			.grid_8
				p 620
			.clear

			.grid_5
				p 380
			.grid_7
				p 540
			.clear

			.grid_6
				p 460
			.grid_6
				p 460
			.clear

			.grid_1.suffix_11
				p 60
			.clear

			.grid_1.prefix_1.suffix_10
				p 60
			.clear

			.grid_1.prefix_2.suffix_9
				p 60
			.clear

			.grid_1.prefix_3.suffix_8
				p 60
			.clear

			.grid_1.prefix_4.suffix_7
				p 60
			.clear

			.grid_1.prefix_5.suffix_6
				p 60
			.clear

			.grid_1.prefix_6.suffix_5
				p 60
			.clear

			.grid_1.prefix_7.suffix_4
				p 60
			.clear

			.grid_1.prefix_8.suffix_3
				p 60
			.clear

			.grid_1.prefix_9.suffix_2
				p 60
			.clear

			.grid_1.prefix_10.suffix_1
				p 60
			.clear

			.grid_1.prefix_11
				p 60
			.clear

			.grid_6.push_6
				.grid_1.alpha
					p 60
				.grid_5.omega
					p 380
				.clear
				.grid_3.alpha
					p 220
				.grid_3.omega
					p 220
			.grid_6.pull_6
				.grid_3.alpha
					p 220
				.grid_3.omega
					p 220
				.clear
				.grid_1.alpha
					p 60
				.grid_5.omega
					p 380

